@font-face {
	font-family: "Poppins", sans-serif;
	src: url("./fonts/poppins/Poppins-Light.ttf");
	src: url("./fonts/poppins/Poppins-Bold.ttf");
	src: url("./fonts/poppins/Poppins-Medium.ttf");
}

html {
	font-size: 100%;
	font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	color: #0e1011;
}

body {
	width: 100vw;
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.946);
}

body > * {
	width: 90vw;
	margin: 1rem auto;
}

img {
	width: 100%;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #b0d0ff64;
	width: 100vw;
	margin: 0;
	padding: 0.5rem 2rem;
	text-align: center;
}
